{{page-title "Application"}}

<button type="button" {{action "createPost"}}>Add Post</button>

<div>
{{#each model as |post|}}
    <span><strong>{{post.title}}: </strong></span><br>
    <span>&nbsp;&nbsp;&nbsp;{{post.body}}</span><br><br>
{{/each}}
</div>

{{outlet}}